.chatUser {
  align-items: flex-start;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-end;
  margin: auto;
  padding: 20px;
  position: relative;
  width: 100%;
  z-index: 1;
}

.form {
  align-items: flex-end;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  width: 100%;
}

.send {
  background-color: rgb(27, 92, 177);
  border-radius: 10px;
  border: none;
  color: #fff;
  margin: 0 5px;
  outline: none;
  padding: 5px;
  width: 30%;
}
.send:active {
  transform: scale(0.94);
}
.sendDisabled {
  opacity: 0.5;
  pointer-events: none;
}

.message {
  height: 400px;
  list-style: none;
  margin: 10px 0;
  max-height: 500px;
  overflow-y: auto;
  padding: 0;
  width: 100%;
}
.message li {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}
.message::-webkit-scrollbar {
  width: 5px;
}

.message::-webkit-scrollbar-thumb {
  background: rgb(27, 92, 177);
}
.message::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.hour {
  font-size: 10px;
  margin: auto 0;
}

.messageContent {
  display: flex;
  gap: 5px;
}
